@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


header {
  @apply rounded-lg border-gray-300 border p-2 flex justify-between items-center bg-gray-800
}


div.buttonsContainer {
  @apply flex flex-wrap justify-center gap-5
}

button {
  @apply disabled:opacity-50 disabled:cursor-not-allowed disabled:bg-zinc-600 capitalize hover:cursor-pointer inline-block rounded bg-emerald-700 px-4 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none active:bg-emerald-500 focus:ring-0
}

/* =========================================================================== */
/* ======================= NAVIGATION BAR =================================== */
/* =========================================================================== */
nav ul li a {
  @apply capitalize p-2 font-medium rounded-xl active:bg-emerald-500 transition-colors duration-200
}

nav ul li a.active {
  @apply bg-emerald-700/50
}